.hero_section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgb(0, 0, 13,1), rgba(0, 0, 13, 0.7), rgba(0, 0, 13, 0.2), rgba(0, 0, 13, 0), rgba(0, 0, 13, 0)), 
                url(../pictures/heroBackground.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 30%; height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
}

.hero_section .container {
    position: relative;
    z-index: 2;
}

.hero_desc {
    color: #e10000;
    font-size: 1.2rem;
    font-weight: 650;
    margin-top: 4rem;
}

.hero_div {
    height: 0.2rem;
    width: 4rem;
    border-bottom: 0.15rem solid #e10000;
    border-radius: 12px;
    margin-bottom: 1rem;
}

h1 {
    color: white !important;
    font-size: 3rem !important;
    text-transform: uppercase;
    font-weight: 650 !important;
}

.hero_text {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    width: 20rem;
    margin-top: 1rem;
    opacity: 0.9;
}

.hero_box_head {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    color: white;
    font-weight: 550;
    text-align: center;
}

.hero_box_circ {
    width: 3.7rem;
    height: 3.7rem;
    background-color: #00004a;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-left: 2.9rem;
}

.hero_box_txt {
    color: white;
    font-size: 0.8rem;
    opacity: 0.9rem;
    width: 10rem;
    text-align: center;
}

.hero_box_div {
    height: 8rem;
    width: 0.1rem;
    border-left: 0.1rem solid rgba(199, 199, 199, 0.4);
    border-radius: 15px;
    align-self: center;
    margin: -0.5rem 1.5rem 0 1.5rem;
}

.services_section {
    font-family: "Montserrat", sans-serif;
    background-color: #f6f6f6;
}

.services_head {
    color: #00004a;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 650;
    justify-self: center;
    margin-bottom: 0rem;
}

.services_div {
    background-color: #e10000;
    width: 5.5rem;
    height: 0.3rem;
    border-bottom: 0.3rem solid #e10000;
    justify-self: center;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

.services_txt {
    color: #00004a;
    opacity: 0.9;
    font-size: 1.1rem;
    font-weight: 500;
    justify-self: center;
}

.services_card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 12rem;
    height: 22rem;
}

.services_card_circ {
    background-color: #00004a3d;
    border-radius: 50px;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
}