@media (max-width: 768px) {
        /* hamburger menu */
    .nav_links {
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        max-width: 85vh;
        padding: 2rem;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(110%);
        display: flex;
        z-index: 999;
        background: #050a12;
        height: 40rem !important;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    #header {
        position: relative;
        overflow: visible;
    }

    .close_menu {
        right: 1rem;
        top: 0.8rem;
        position: absolute;
        z-index: 1001;
        color: white;
        font-size: 1.7rem;
        background: none;
        border: none;
    }

    .hamburger {
        display: block;
        right: 1rem;
        position: absolute;
        margin-top: 0.6rem;
    }

    .hamburger_logo {
        display: block;
        width: 20rem;
        height: 12rem;
        margin-top: -1.5rem;
        margin-left: -2rem;
    }

    .nav_links .link {
        display: flex;
    }

    .nav_links .link_icons {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.8rem;
    }

    .nav_links .home {
        margin-left: 0rem !important;
        margin-top: -3rem !important;
    }

    .nav_links .phone_num {
        font-size: 1.2rem;
        margin: 2rem 0 1.5rem 0rem !important;
        border-bottom: none !important;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    .nav_links .hamburger {
        display: none !important;
    }

    .nav_links .link, .nav_links .phone_num {
        width: 100%;
        margin-top: 1rem;
        color: white;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.15);*/
        margin-left: 0rem;
    }

    .nav_links .head_btn {
        width: 13rem;
        text-align: center;
        margin-left: 0rem !important;
    }

    .phone_link {
        display: block !important;
    }
    /* hamburger menu end*/

    .header {
        height: 4rem;
    }

    #headerLogo {
        width: 15rem;
        height: 9.375rem;
        margin-top: -1.8rem;
        margin-left: -1.5rem;
    }

    #servLink {
        margin-left: 0 !important;
    }

    .header_div {
        display: none;
    }

    .header_button {
        margin-left: 0;
        margin-top: 2rem;
    }

    .hamb_div {
        display: block !important;
        height: 0.1rem;
        width: 16rem;
        border-bottom: 0.1rem solid #ffffff84;
        margin-top: -3rem;
        margin-bottom: 1rem;
    }

    .hero_desc {
        color: #e10000;
        font-size: 0.8rem;
        font-weight: 650;
        margin-top: 1.5rem;
        text-shadow: 2px 2px black;
    }

    .hero_div {
        width: 3rem;
    }

    h1 {
        font-size: 2.7rem !important;
        width: 16rem;
    }

    .hero_text {
        font-size: 0.9rem;
        font-weight: 400;
        width: 15rem;
        margin-top: 0;
    }

    #heroText {
        width: 13rme;
    }

    .phone_d_flex {
        display: flex !important;
    }

    .phone_d_block {
        display: block !important;
    }

    .hero_section {
        height: 36rem !important;
        position: relative;
        overflow: hidden;
    }

    .hero_box_circ {
        width: 3.5rem;
        height: 3.5rem;
    }

    .hero_pic {
        height: 2.5rem;
        width: 2.5rem;
    }

    .hero_box_head {
        font-size: 0.9rem;
        margin-bottom: 0rem;
        margin-left: -1.2rem;
    }

    .hero_box_txt {
        font-size: 0.8rem;
        text-align: left;
        margin-left: 1rem;
    }

    .hero_section .container {
        padding-left: 1rem !important;
    }

    #heroBox {
        margin-top: 3rem !important;
    }

    #heroBox1 {
        margin-left: -2.8rem;
    }

    .hero_box_div {
        rotate: 90deg;
        margin-left: 8.3rem;
        margin-top: -7.7rem;
        height: 16rem;
        opacity: 0.7;
    }

    #heroBox2 {
        margin-left: -3.4rem;
        margin-top: -6.5rem;
    }

    #heroHead2 {
        margin-left: 0.3rem !important;
    }

    .hero_box_txt2 {
        margin-left: 0.9rem !important;
    }

    .head_sec {
        position: relative;
    }

    .phone_d_none {
        display: none !important;
    }

    .services_div {
        width: 4rem;
        margin-bottom: 0.3rem;
    }

    .services_head {
        font-size: 2.2rem;
    }

    .services_txt {
        font-size: 0.85rem;
        white-space: nowrap;
    }

    .services_card {
        margin-top: 0.7rem;
        margin-left: 1rem;
        min-width: 12rem;
        width: 12rem;
        height: 10.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services_card_circ {
        width: 4rem;
        height: 4rem;
        margin-top: 0.3rem;
    }

    .cards_pics {
        width: 3.8rem !important;
        margin-top: -1rem !important;
    }

    .services_card_head {
        margin-top: 0.2rem;
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }

    .services_card_text {
        margin-top: 0.3rem;
        font-size: 0.75rem;
        width: 10rem;
    }

    .services_card_div {
        width: 2.5rem;
    }

    .ml_0 {
        margin-left: 0 !important;
    }

    #card6 {
        margin-left: 1rem !important;
    }

    .seasonal_special {
        width: 3rem;
        margin-top: -4rem;
        margin-left: -8rem;
        height: 10rem;
    }

    .seasonal_special_text {
        font-size: 0.6rem;
    }

    .seasonal_special_wrap {
        margin-left: -6.6rem !important;
    }

    #snowflakePic {
        width: 1.3rem !important;
        height: 1.3rem !important;
        margin-left: -0.2rem !important;
        margin-top: 0.3rem !important;
    }

    .card_pic2 {
        margin-top: -0.8rem !important;
    }

    #cardPic3 {
        margin-top: -0.9rem !important;
    }

    .card_pic5 {
        width: 3.3rem !important;
        margin-top: -0.5rem !important;
    }

    #cardPic10 {
        width: 4.2rem !important;
        margin-top: -1.25rem !important;
    }

    #leakHead {
        white-space: nowrap;
        margin-left: -2.2rem;
    }

    .cardHeight {
        height: 11.6rem !important;
    }

    #partsText {
        width: 12rem !important;
    }

    .special_offer_cont {
        width: 100%;
        height: 50rem;
        background-size: cover !important;
        background-position: center;
        background-repeat: no-repeat !important;
        background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(../pictures/bannerBackgroundPhone.PNG);
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left_part_badge {
        width: 2rem;
        height: 3rem;
        background: linear-gradient(to top, red, #940000);
        align-items: center;
        display: flex;
        justify-content: center;
        clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 72%, 0 88%);
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
        overflow: hidden;
        margin-left: 1rem;
        position: relative;
        z-index: 1;
    }

    .phone_badge {
        width: 12rem;
        height: 2.1rem;
        background: linear-gradient(to bottom, red, #e10000);
        background-color: red;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .phone_badge_text {
        color: white;
        font-size: 0.9rem;
        margin-left: 0.2rem;
        text-transform: uppercase;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: 750;
        margin-top: 0.4rem;
    }

    .special_offer_text1 {
        font-size: 0.9rem;
    }

    .special_offer_line {
        width: 2rem;
    }

    #wintSloganBox {
        margin-left: 0 !important;
        margin-top: 0.5rem !important;
    }

    .special_offer_text2 {
        width: 19rem;
        font-size: 2rem;
        text-align: center;
        line-height: 2.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.4rem;
        margin-left: 8.8rem;
    }

    .special_offer_text3 {
        font-size: 0.8rem;
        width: 18rem;
        text-align: center;
        white-space: normal;
        margin-left: 9.3rem;
        margin-top: 0;
    }

    .offer_box {
        background-color: #f3f3f3eb;
        border-radius: 10px;
        height: 30rem;
        width: 25.2rem;
        margin-left: 5.7rem;
        margin-top: 1rem;
    }

    .special_offer_price_circle {
        background-color: #3c6ded30;
        border: 1px solid #1672aeb5;
        height: 9rem;
        width: 9rem;
        left: 0.5rem;
        top: 0rem;
        right: 0rem;
        position: relative;
    }

    .special_offer_price_circle::before {
        border: 3px dashed #ffffffe3;
    }

    .snowflake_pic {
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin-left: 3.9rem !important;
    }

    .spec_offer_price_txt {
        margin-left: 1.3rem !important;
    }

    .spec_offer_price_pr {
        margin-top: -0.6rem !important;
        font-size: 2.4rem !important;
    }

    .check_mark {
        width: 1.2rem !important;
        height: 1.2rem !important;
    }

    .special_offer_text4 {
        white-space: nowrap;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        margin-top: 0.15rem;
        opacity: 1;
        font-weight: 550;
    }

    .special_offer_book {
        z-index: 999;
    }

    .phone_special_div {
        height: 0.08rem;
        width: 20rem;
        border: 0.08rem dashed #a5a5a581;
        margin-top: -16.5rem;
        margin-left: 8rem;
    }

    #footerSpecial {
        margin-top: -16rem !important;
        position: relative;
        right: 13.2rem;
        bottom: 0.5rem;
    }

    .special_offer_text5 {
        font-size: 0.7rem !important;
        margin-left: 0.2rem;
        display: block !important;
    }

    .footer_special_icon {
        width: 1.2rem !important;
        height: 1.2rem !important;
        margin-top: 0.1rem;
    }

    .special_offer_text5 span {
        display: block;
    }

    .pricing_card {
        height: 15rem !important;
        justify-content: center;
        align-items: center;
        width: 25.5rem;
        margin-left: 0;
    }

    .pricing_circ {
        height: 4rem;
        width: 4rem;
        justify-self: baseline;
        margin-left: 4.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .pricing_card_circ_pic {
        width: 3.4rem !important;
        margin-top: -0.5rem !important;
    }

    .pricing_head  {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }

    .pricing_card_price {
        font-size: 1rem;
        align-self: center;
    }

    .pricing_dollar_sign {
        font-size: 1.2rem;
        bottom: 1rem;
    }

    .pricing_price {
        font-size: 2.6rem;
    }

    .pricing_text {
        font-size: 0.75rem;
        width: 12rem;
        margin-left: 0.8rem;
        margin-top: -0.3rem;
    }

    .pricing_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing_check {
        width: 1.2rem !important;
        height: 1.2rem !important;
        flex: 0 0 0;
    }

    .pricing_list {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }


    .pricing_book_btn {
        white-space: nowrap;
        font-size: 0.95rem;
        width: 11.5rem;
        height: 2.4rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
        justify-content: center;
        padding-top: 0.35rem;
        margin-left: -0.8rem;
    }

    .pricing_box1 {
        margin-top: 0rem !important;
    }

    .pricing_div {
        display: none !important;
    }

    .pricing_div_phone {
        display: block !important;
        height: 13rem;
        width: 0.09rem;
        border-left: 0.09rem solid #4646462a;
        margin: 0 1.3rem 0 0.4rem;
    }

    .pricing_card_box {
        margin-left: 0;
    }
    
    .price_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services_footer {
        width: 25.5rem !important;
        margin-left: 0 !important;
        height: 10rem !important;
    }

    .service_footer_icon {
        height: 5rem;
        width: 3.24rem;
        margin-left: 0.7rem;
        margin-top: 1.2rem;
        position: relative;
        left: 2rem;
    }

    .pricing_footer_box {
        margin-top: 0 !important;
        margin-left: -1rem;
    }

    .pricing_footer_head {
        font-size: 0.8rem;
    }

    .pricing_footer_div {
        height: 1.1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .pricing_footer_subhead {
        font-size: 0.7rem;
    }

    .pricing_footer_wrap {
        margin-top: -0.2rem !important;
        margin-left: -4rem !important;
    }

    .service_footer_text {
        margin-left: 3.75rem;
        margin-top: 0.3rem;
        font-size: 0.85rem !important;
        width: 16rem;
    }

    .phone_pricing_footer_div {
        width: 22.5rem;
        height: 0.1rem;
        border-bottom: 0.1rem solid #51515141;
        display: block !important;
        opacity: 0.9;
        border-radius: 20px;
        margin-left: 1.5rem;
    }

    .pricing_bottom_foot {
        display: flex;
        margin-left: 2.3rem;
        margin-top: -0.3rem;
    }

    .pricing_footer_text {
        font-size: 0.8rem;
        width: 18rem;
    }

    .booking_note {
        font-size: 0.9rem;
        margin-top: 0.8rem;
    }

    #bookText {
        white-space: normal;
        text-align: center;
        width: 24rem;
    }

    #bookForm {
        width: 25.3rem;
        height: 43rem;
    }

    .book_form_circ {
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        margin-left: 0;
    }

    .book_form_head {
        font-size: 1.05rem;
    }

    .book_form_text {
        font-size: 0.8rem;
    }

    .book_form_wrap {
        margin-top: 1.1rem !important;
    }

    .input_name {
        font-size: 0.85rem;
    }

    input::placeholder {
        font-size: 0.8rem !important;
    }

    .book_input {
        width: 11rem !important;
        height: 2.4rem;
    }

    .form_group1 {
        margin-top: -0.3rem;
    }

    .form_group2 {
        margin-top: 0.5rem !important;
    }

    .mod_select_trigger {
        width: 11rem !important;
        height: 2.4rem !important;
    }

    .ml_08 {
        margin-left: 0.8rem !important;
    }

    .mod_emoji {
        font-size: 0.8rem;
        left: 9rem;
    }

    .mod_og_txt {
        font-size: 0.8rem;
    }

    .form-control {
        font-size: 0.9rem !important;
    }

    .selected_service {
        font-size: 0.9rem !important;
    }

    .mod_select_options {
        width: 11rem;
    }

    .mod_select_options li {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
    }

    .book_wrap {
        margin-top: 0.5rem;
    }

    .date_button {
        height: 2.4rem;
        width: 11rem;
    }

    .has_date {
        font-size: 0.9rem;
    }

    .date_button i {
        left: 0.5rem;
        position: relative;
    }

    .select_trigger {
        width: 11rem;
        height: 2.4rem;
    }

    .select_options {
        width: 11rem;
    }

    #formAdditional {
        width: 22.8rem !important;
        height: 5rem !important;
    }

    .select_trigger {
       margin-top: 0.185rem; 
    }

    .form_check {
        margin-top: -0.5rem;
    }

    .submit_button {
        width: 22.8rem;
    }

    .btm_disc {
        font-size: 0.6rem;
    }

    .book_form_btm {
        margin-left: -0.7rem !important;
    }

    .book_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}