body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    overflow-y: hidden;
    font-family: "Montserrat", sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.header_links {
    text-transform: uppercase;
    color:  #00004a;
    text-decoration: none;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
}

.header_links:hover {
    color:  #0000a5;
    transition: 0.3s ease;
}

.header {
    background-color: white;
    display: flex;
    height: 6rem;
    font-family: "Montserrat", sans-serif;
}

.header_button {
    background-color: #e10000;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    font-weight: 550;
    height: 3rem;
    width: 12rem;
    align-self: center;
    margin-left: 2.5rem;
    border: 2px solid #e10000;
}

.header_button:hover {
    background-color: rgb(240, 240, 240);
    color: #e10000;
    transition: 0.3s ease;
}

.header_button:hover i {
    color: #e10000 !important;
    transition: 0.3s ease;
}

#headerLogo {
    width: 20rem;
    height: 12.5rem;
    margin-top: -2.1rem;
}

.header_div {
    height: 1.5rem;
    width: 0.1rem;
    border-left: 0.1rem solid rgba(62, 62, 62, 0.4);
    border-radius: 15px;
    align-self: center;
    margin: 0 1rem 0 1rem;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1000;
}

.hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 5px 0;
}

.hamburger_logo {
    display: none;
}