@media (max-width: 768px) {
        /* hamburger menu */
    .nav_links {
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        max-width: 320px;
        min-height: 100vh;
        padding: 2rem;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(110%);
        display: flex;
        z-index: 999;
        background: #050a12;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    #header {
        position: relative;
        overflow: visible;
    }

    .close_menu {
        right: 1rem;
        top: 0.8rem;
        position: absolute;
        z-index: 1001;
        color: white;
        font-size: 1.7rem;
        background: none;
        border: none;
    }

    .hamburger {
        display: block;
        right: 1rem;
        position: absolute;
        margin-top: 0.6rem;
    }

    .hamburger_logo {
        display: block;
        width: 20rem;
        height: 12rem;
        margin-top: -1.5rem;
        margin-left: -2rem;
    }

    .nav_links .link {
        display: flex;
    }

    .nav_links .link_icons {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.8rem;
    }

    .nav_links .home {
        margin-left: 0rem !important;
        margin-top: -3rem !important;
    }

    .nav_links .phone_num {
        font-size: 1.2rem;
        margin: 2rem 0 1.5rem 0rem !important;
        border-bottom: none !important;
    }

    .nav_links.active {
        transform: translateX(0);
    }

    .nav_links .hamburger {
        display: none !important;
    }

    .nav_links .link, .nav_links .phone_num {
        width: 100%;
        margin-top: 1rem;
        color: white;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.15);*/
        margin-left: 0rem;
    }

    .nav_links .head_btn {
        width: 13rem;
        text-align: center;
        margin-left: 0rem !important;
    }

    .phone_link {
        display: block !important;
    }
    /* hamburger menu end*/

    .header {
        height: 4rem;
    }

    #headerLogo {
        width: 15rem;
        height: 9.375rem;
        margin-top: -1.8rem;
        margin-left: -1.5rem;
    }

    #servLink {
        margin-left: 0 !important;
    }

    .header_div {
        display: none;
    }

    .header_button {
        margin-left: 0;
        margin-top: 2rem;
    }

    .hamb_div {
        display: block !important;
        height: 0.1rem;
        width: 16rem;
        border-bottom: 0.1rem solid #ffffff84;
        margin-top: -3rem;
        margin-bottom: 1rem;
    }

    .hero_desc {
        color: #e10000;
        font-size: 0.8rem;
        font-weight: 650;
        margin-top: 1.5rem;
        text-shadow: 2px 2px black;
    }

    .hero_div {
        width: 3rem;
    }

    h1 {
        font-size: 2.7rem !important;
        width: 16rem;
    }

    .hero_text {
        font-size: 0.9rem;
        font-weight: 400;
        width: 15rem;
        margin-top: 0;
    }

    #heroText {
        width: 13rme;
    }

    .phone_d_flex {
        display: flex !important;
    }

    .phone_d_block {
        display: block !important;
    }

    .hero_section {
        height: 36rem !important;
    }

    .hero_box_circ {
        width: 3.5rem;
        height: 3.5rem;
    }

    .hero_pic {
        height: 2.5rem;
        width: 2.5rem;
    }

    .hero_box_head {
        font-size: 0.9rem;
        margin-bottom: 0rem;
        margin-left: -1.2rem;
    }

    .hero_box_txt {
        font-size: 0.8rem;
        text-align: left;
        margin-left: 1rem;
    }

    .hero_section .container {
        padding-left: 1rem !important;
    }

    #heroBox {
        margin-top: 3rem !important;
    }

    #heroBox1 {
        margin-left: -2.8rem;
    }

    .hero_box_div {
        rotate: 90deg;
        margin-left: 8.3rem;
        margin-top: -7.7rem;
        height: 16rem;
        opacity: 0.7;
    }

    #heroBox2 {
        margin-left: -3.4rem;
        margin-top: -6.5rem;
    }

    #heroHead2 {
        margin-left: 0.3rem !important;
    }

    .hero_box_txt2 {
        margin-left: 0.9rem !important;
    }
}