body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    overflow-y: auto;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.header_links {
    text-transform: capitalize;
    color: #000025;
}

.header {
    background-color: white;
    display: flex;
}

.header_button {
    background-color: red;
}

#headerLogo {
    width: 8rem;
    height: 4rem;
}